{% extends 'myweb/pic/base.html' %}

{% block mainbody %}
	<h3>浏览相册图片信息</h3>
	    <table width="800" border="1">
	        <tr>
	            <th>id号</th>
	            <th>姓名</th>
	            <th>年龄</th>
	            <th>图片</th>
	            <th>时间</th>
	            <th>操作</th>
	        </tr>
	        {% for pic in piclist %}
	            <tr>
	                <td>{{ pic.id }}</td>
	                <td>{{ pic.name }}</td>
	                <td>{{ pic.age }}</td>
	                <td><img src="/static/pics/s_{{ pic.picname }}"/></td>
	                <td>{{ pic.addtime}}</td>
	                <td>
	                    <a href="{% url 'editpic' pic.id %}">编辑</a>
	                    <a href="{% url 'delpic' pic.id %}">删除</a>
	                </td>
	            </tr>
	        {% endfor %}
	    </table>
{% endblock %}